<!DOCTYPE html>
<html lang="en" style="position:relative">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP_Cripto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/TP_Cripto.styles.css" asp-append-version="true" />
</head>
<body style="min-width:330px">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom-0 box-shadow mb-0 ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TP_Cripto</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Cuenta" asp-action="Index">Cuentas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item me-0">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Registrar">Registrarse</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="border-bottom: 0px solid #fff; justify-content:center">
        <main role="main" class="pb-0 pb-md-0 justify-content-center">
            @RenderBody()
        </main>
    </div>

    <footer class=" border-top-0 footer text-muted bg-black lh-base d-flex flex-md-row flex-column flex-wrap ps-5 pe-5 pt-md-4 pt-3 pb-md-4 pb-3 m-0 align-items-center  justify-content-between " style="min-width:330px; position:absolute ; width:100%">

        <div class="d-flex flex-wrap">
            Hecho por Guillermo Villalba &nbsp;
            <a class="text-white" href="https://github.com/GDVillalba/Proyecto-Softtek-2022">
                Github
            </a>
        </div>
        <div class="">
            &copy; 2022 - TP_Cripto <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
