@{
    ViewData["Title"] = "Home Page";
}

@if( @ViewBag.Usuario != "")
{
    Layout = "~/Views/Shared/_Layout_logout.cshtml";

<div class="card">

  <h5 class="card-header">
      Usuario: @ViewBag.Usuario
  </h5>

  <div class="card-body">  
  </div>

</div>
<hr/>
<table class="table d-lg-table table-bordered table-striped ">
    <thead style="background-color:lightblue">
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Población</th>
            <th>Teléfono</th>
            <th width="150px" ></th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
}else{
    Layout = "~/Views/Shared/_Layout_login.cshtml";

    <h2>Ingrese al sistema</h2>
}