@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<body class=" p-0 pb-5 m-0 main-bg ">
    <div class="ps-5 pe-5">

        <div class="card mt-5 mb-5 ms-auto me-auto col-6">

            <h5 class="card-header bg-dark" style="color:white">
                @ViewData["Title"]
            </h5>
            @if (TempData["Message"] != null)
            {
                <span class="text-danger"> @TempData["Message"] </span>
            }


            <div class="card-body" style="background-color:lightgray">

                <form method="post" action="Login">

                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input for="usuario" name="usuario" type="text" class="form-control" maxlength="50" required />

                    </div>

                    <div class="mb-3">
                        <label for="clave" class="form-label">Clave</label>
                        <input for="clave" name="clave" type="text" class="form-control" minlenght="4" maxlength="50" required />
                        <span validation-for="clave" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-danger"> Cancelar</a>
                </form>

            </div>

        </div>
    </div>
</body>
